name: test
on:
  pull_request:



jobs:
  build:
    name: Do Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.X"
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Test
        env:
          SHAREDSECRET: ${{ secrets.MYSECRET }}
        run: |
          pytest
